.weui-cells.weui-cells_after-title .weui-cell {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.weui-cells.weui-cells_after-title .weui-cell .column1 {
  width: 20%;
}
.weui-cells.weui-cells_after-title .weui-cell .column2 {
  width: 80%;
}
